<!doctype html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<title>Life Cycle Top</title>
	<link rel="stylesheet" type="text/html" href="css/legacy2.css">
	<link rel="stylesheet" type="text/html" href="css/main2.css">


<style>
	xrbody {
		background-color: #B29CC3;
		font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
  		font-size: 14px;
	}
</style>

</head>
<body>

<div id="legacy-portal">
<div class="content-area">
<div id="legacy-container" class="legacy-container">
<div class="content">
      

	<h1>Life Cycle and Update Policies</h1>

	<p>The life cycle associated with a Red Hat product identifies the various levels of maintenance for each release of that product over a period from initial release—or general availability (GA)—to the end of maintenance. Because Red Hat's products have longer life cycles, you benefit by having more choice and flexibility in planning your IT initiatives. By knowing what to expect and by eliminating 'lock in' you can reduce costs and uncertainty. For more information on the life cycles and support policies of specific Red Hat products, follow the links below.</p>

	<p>If you'd like to view the product life cycle of several products at once, try the <a href="/labs/plcc/">Production Life Cycle Checker</a>.</p>

	<p>For more information on the life cycles and support policies of specific Red Hat products and offerings, follow the links below.</p>



	<div id="leftColumn" class="threeCol1">

		<h3 class="headerAccent">Red Hat Enterprise Linux</h3>
		<ul>
			<li>Red Hat Enterprise Linux</li>
						<ul>
							<li><a href="/site/support/policy/updates/errata/">Life Cycle</a> | <a href="/site/articles/145463">Support Policies</a></li>
						</ul>
			<li><a href="/site/support/policy/updates/dts/">Red Hat Developer Toolset</a></li>
		<li><a href="/site/support/policy/updates/openstack/platform/">Red Hat OpenStack Platform</a></li>
			<li><a href="/site/support/policy/updates/mrg/">Red Hat Enterprise MRG</a></li>
			<li><a href="/site/support/policy/updates/realtime">Red Hat Enterprise Linux for Real Time</a></li>
		<li><a href="/site/support/policy/updates/hpc/">Red Hat HPC Solution</a></li>
			<li><a href="/site/support/policy/updates/rhscl/">Red Hat Software Collections</a></li>
			<li><a href="/site/support/policy/updates/net-core">.NET Core</a></li>
		</ul>

		<h3 class="headerAccent">Red Hat Cloud</h3>
		<ul>
		<li><a href="/site/support/policy/updates/manageiq/">ManageIQ Enterprise Virtualization Manager</a></li>
		<li><a href="/site/support/policy/updates/cloudforms/">Red Hat CloudForms</a></li>
		<li><a href="/site/support/policy/updates/cloudsolutions/">Red Hat Cloud Solutions</a></li>
		<li><a href="/site/support/policy/updates/rhui/">Red Hat Update Infrastructure</a></li>
			</ul>


		<h3 class="headerAccent">Red Hat Virtualization</h3>
		<ul>
		<li><a href="/site/support/policy/updates/rhev/">Red Hat Virtualization</a></li>
		</ul>


	</div>

	<div id="centerColumn" class="threeCol2">

		<h3 class="headerAccent">Red Hat JBoss Middleware</h3>
		<ul>

		<li><a href="/site/support/policy/updates/jboss_notes/">Red Hat JBoss Middleware</a></li>
		</ul>

		<h3 class="headerAccent">Red Hat Containers</h3>
		<ul>

		<li><a href="/articles/2387591">Red Hat Container Development Kit</a></li>
			<ul><li><a href="https://access.redhat.com/articles/2387591">Support Policies</a></li></ul>
		<li><a href="/articles/2820141">Red Hat Development Suite</a></li>
		</ul>

		<h3 class="headerAccent">Red Hat Storage</h3>
		<ul>
			<li>Red Hat Ceph Storage</li>
						<ul>
							<li><a href="/site/articles/1372203">Life Cycle</a> | <a href="/site/articles/1373323">Support Policies</a></li>
						</ul>
		<li>Red Hat Gluster Storage</li>
						<ul>
							<li><a href="/site/support/policy/updates/rhs/">Life Cycle</a> | <a href="/site/articles/145713">Support Policies</a></li>
						</ul>
			</ul>


		<h3 class="headerAccent">FuseSource</h3>
		<ul>

		<li><a href="/site/support/policy/updates/fusesource/">FuseSource</a></li>
		</ul>


		<h3 class="headerAccent">Identity Management &amp; Infrastructure</h3>
		<ul>
			<li><a href="/site/support/policy/updates/rhappstack/">Red Hat Application Stack</a></li>
			<li><a href="/site/support/policy/updates/certificate/">Red Hat Certificate System</a></li>
			<li><a href="/site/support/policy/updates/directory/">Red Hat Directory Server</a></li>
			<li><a href="/site/support/policy/updates/red-hat-insights">Red Hat Insights</a></li>
		</ul>

	</div>

	<div id="rightColumn" class="threeCol3">

		<h3 class="headerAccent">OpenShift</h3>
		<ul>
		<li>OpenShift Container Platform</li>
						<ul>
							<li><a href="/site/support/policy/updates/openshift/">Life Cycle</a> | <a href="/site/support/policy/updates/openshift/policies/">Support Policies</a></li>
						</ul>
		<li>OpenShift Online</li>
						<ul>
							<li><a href="/site/support/policy/updates/openshift/online/">Life Cycle</a> | <a href="/site/support/offerings/openshift/">Support Policies</a></li>
						</ul>
			</ul>



		<h3 class="headerAccent">System Management</h3>
		<ul>
			<li>Red Hat Ansible Automation
					<ul>
						   <li><a href="https://access.redhat.com/ansible-top-support-policies">Support Policies</a></li>
						   <li><a href="/site/support/policy/updates/ansible-tower">Red Hat Ansible Tower</a> </li>
						   <li><a href="/site/support/policy/updates/ansible-engine">Red Hat Ansible Engine</a></li>
					</ul></li>
			<li><a href="/site/support/policy/updates/jboss_notes/">Red Hat JBoss Operations Network</a></li>
			<li><a href="/site/support/policy/updates/satellite/">Red Hat Satellite</a></li>
			<li><a href="/site/support/policy/updates/sam/">Red Hat Subscription Asset Manager</a></li>
		</ul>

			<h3 class="headerAccent">Red Hat Mobile Application Platform</h3>
			<ul>
			<li><a href="/site/support/policy/updates/rhmap/">Life Cycle</a> | <a href="/site/support/policy/updates/rhmap/policies/">Support Policies</a></li>
			</ul>
	</div>
</div>
</div>
</div>
</div>
</body>
</html>
